extends layout

block content
  div.index-content
      if messages
        ul.messages
          each message in messages 
            if currentUser 
              li.message 
                p.title= message.title
                p.text= message.text 
                p.author= message.author.full_name 
                p.time= message.timestamp_formatted
            else 
              li.message-short
                p.title= message.title
                p.text= message.text 
      else
        p No messages are here yet...
            