extends layout

block content
  div.index-content
      if (messages && currentUser)
        ul.messages
          each message in messages 
            if (currentUser.member_type === "full" || currentUser.member_type === "admin") 
              li.message 
                p.title= message.title
                p.text= message.text 
                p.author= message.author.full_name 
                p.time= message.timestamp_formatted
                if (currentUser.member_type === "admin")
                  a.delete-message(href=`/messages/delete-message/${message._id}`) Delete 
            else 
              li.message-short
                p.title= message.title
                p.text= message.text 
      else if messages 
        p #[a(href="/users/sign-up") Create an account] to view messages.
      else
        p No messages are here yet...
            